


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200&display=swap');

body{
    font-family: 'Montserrat', sans-serif ;
    color: #292929;
}
.arrow{
    cursor: pointer;

}
.uypImg {
    width: 40em;
    height: 21.6em;
}
.titulo {
    display: flex;
    flex-direction: column;
    margin:0 ;
    
}
.unidadY {
    font-family: 'Montserrat', sans-serif ;
    font-weight: 200;
    font-size: 5em;
    margin-bottom: 0;
    text-align: left;
    color: #50C7FF;
}
.progreso {
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600;
    font-size: 6em;
    margin-top: 0;
    margin-left: 1.5em;
    margin-right: 1em;
    color: #50C7FF;
}

.uyp{
display: flex;
margin-top: 5em;
width: 100%; 
justify-content:center; 
align-items: center; 

}  

.queEs{
display: flex;
margin-top: 2em;
width: 100%;   
text-align: left;  
}
.cooperativa {
    font-family: 'Montserrat', sans-serif ;
font-weight: 600;
margin: 2.5em;
color: #292929;

}

.texto{
padding-left: 2em;
margin-right: .8389em;
font-size:1em;
margin-bottom: .5em;

font-family: 'Montserrat', sans-serif ;
font-weight: 400;
}
.textoUyP {
margin-top: 0;
margin-right: .7em;
color: #292929;
}
.texto1{
display: flex;
font-size:2em;
color: #6896DB;
padding-left: 1em;
font-family: 'Montserrat', sans-serif ;
font-weight: 500;
margin-bottom: 0%;
}
.queEsContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
.jovenes{
    display: flex;  
    left: 0; 
    width: 100%; 
    justify-content:space-around; 
    align-items: center; 

}
.jovenesImg{
    width: 66%;
    border-radius: 25px;
    height: 25em;
    
}

.textodivision1{
    display: flex;
    flex-direction: column;
    height: 19.1em;
    width: 20em;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-right: 2em;
    box-shadow: #292929;
    padding: 3em;
    margin-left: .7em;

}

.textodivision2{
    display: flex;  
    left: 0; 
    width: 100%; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: .5em;

}

.colortexto{
    color: #6896DB;
    font-size: 4em;
    margin: 0;
    font-weight: 400;
}
.empleadosAños{
    text-align: start;
    font-weight: 600;
    margin-top: -.1em;
}
.masDeCincuenta {
    text-align: start;
}
.quieroContactarme{
display: flex;
margin-top: 50px;
width: 100%; 
justify-content:space-between; 
align-items: center; 
}
.contactarme{
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0;
    
}
.qcizquierda{
    width: 61%;
    background-color: #F5F5F5;
    margin-left: .7em;
    margin-right: 2em;
    border-radius: 20px;
    color: #5B5B5B;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.15em;
    font-weight: 600;
}
.teEsperamos {
    color: #6896DB;
    margin-top: -.5em;
    text-align: center;
}
.qcderecha{
display: flex;
align-items: center; 
background-color: #6896DB;
border-radius: 80px 0px 0px 80px;
width: 30%;
cursor: pointer;

padding-right: 1em;

}
.quiero {
    font-size: 1.6em;
    margin: 0;
    font-weight: 500;
    
}
.circulo{
    background-image: url("../Img/cruzCirculo.jpg"); background-size: cover ;
    width: 1.7em;
    height: 1.7em;
    border-radius: 100%;
    padding: 2.5em;
    margin: .7em;
}

.conocenos {
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 1.1em;
    text-align: center;
}
.cards{
    display: flex;

width: 100%; 
justify-content:space-around; 
align-items: center; 

background-color: #F5F5F5;
margin-bottom: 4em;
}

.card{
    text-align: start;
    padding: 1em; 
    margin-right: 1em; 
}
.card p {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.card h2{
border-bottom: solid #5B5B5B 1px;
color: #6896DB;
text-align: center;
font-weight: 600;
font-size: 1.6em;
margin: 0;

}

.imgabajo{
    width: 100%;
    height: 20em;
}  


.lista{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    border-bottom: black solid 1px;
}

.lista h4{
    margin: 10px;
}
@media screen and (max-width: 1100px) {
    body {
        font-size: 14px;
    }
    .arrow {
        width: 4em;
    }
}
@media screen and (max-width:908px) {
    body {
        font-size: 13px;
    }
    .uypImg {
        width: 50%;
    }
    .texto1 {
        font-size: 1.6em;
        margin-bottom: -.5em;
        
    }
    .textodivision1 {
        padding: 2em;
        width: 25em;
        height: 21em;
    }
    .colortexto {
        font-size: 3em;
    }
    .jovenesImg {
        width: 60%;
    }
    .arrow {
        width: 3.3em;
    }
    .quiero {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 750px) {
    body {
        font-size: 12px;
    }
    .img {
        width: 12em;

    }
    
    .uypImg {
        width: 45%;
        
    }
    .unidadY {
        text-align: center;
        margin-right: 2em;
    }

    .progreso {
        margin-right: .5em;
        margin-left: 0;
    }
    
    
    .quiero {
        font-size: 1.3em;
    }
    .arrow {
        width: 2.8em;
    }
    
}
@media screen and (max-width: 650px) {
    .arrow {
        display: none;
    }
    .img {
        width: 9em;

    }
    .unidadY {
        
        font-size: 4em;
        text-align: left;
        
    }
    .progreso {
        font-size: 4.7em;
        margin-top: 0;
        margin-left: 1em;
    }
    .queEs {
        flex-direction: column;
        align-items: center;
        
    }
    .uypImg {
        width: 100%;
        margin-bottom: 1.5em;
    }
    .texto1 {
        display: flex;
        justify-content: center;
    }
    .conocenos {
        font-size: 2.4em;
        margin-top: 1.5em;
    }
    .teEsperamos { 
        margin-top: -.5em;
        margin-bottom: .45em;
    }
    .quiero {
        font-size: 1.1em;
    }
    .qcizquierda{
        margin-right: 1em;
        font-size: 1em;

    }
}
@media screen and (max-width: 600px) {
    .cards{
    flex-direction: column;
    border-top: solid 1px #6896dbc9 ;
    }
    .card {
        border-bottom: solid 1px #6896dbc9 ;
        margin-right: 0;
    }
    .card h2 {
        border-bottom: none;
    }
    .qcderecha{
        width: 36%;
    }
    .qcizquierda{
        width: 55%;
        
    }
    .jovenesImg{
        width: 55%;
    }  
    .textodivision1{
        margin-right: 1em    
    }
    .circulo{
        width: 1.5em;
        height: 1.5em;     
    }
    .teEsperamos {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size: 11px;
    }
    .img {
        width: 6.5em;

    }
    .unidadY {
        font-size: 3.7em;      
    }
    .progreso {
        font-size: 3.7em;
        margin-left: 1.2em;
    }
    .qcderecha{
        width: 40%;
    }
    .qcizquierda{
        width: 50%;
        font-size: .9em;
        margin-right: .6em;
    }
    .circulo{
        width: 2.2em;
        height: 2.2em;
        padding: 1.5em;
        margin-top: 1.5em;
        margin-left: 1em;
        margin-bottom: 1.5em;
        margin-right: .5em;

    }
    .quiero {
        font-size: 1em;
    }
    .jovenesImg{
        width: 48%;
        border-radius: 0px 20px 20px 0px;
        margin-left: .2em;
        margin-right: .7em;
    }  
    .textodivision1{
        margin-right: 0 ;
        border-radius: 20px 0px 0px 20px;
        padding: .8em;
        width: 27.5em;
        height: 23.5em;
    }
    .conocenos {
        font-size: 1.95em;
    }
   
    .quieroContactarme {
        margin-top: 2.5em;
    }
}
@media screen and (max-width: 500px) {
    
}