.footer{
    display: flex;
    margin-top: 4em;
    width: 100%; 
    justify-content:space-between; 
    align-items: center; 
    background-color: #F5F5F5;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    }
.circulo{
    margin-left: 2em;
    cursor: pointer;
    }
.listado {
    margin-right: 1em;
}
.lista{
        display:flex;
        justify-content:flex-end;
        border-bottom: #292929 solid 1px;
        
    }
    
.lista p{
        margin-left: 1.5em;
        cursor: pointer;
        font-weight: 500;
        
    }

    @media screen and (max-width: 750px) {
        .circulo {
            width: 5em;
        }
        .listado {
            font-size: .9em;
        }
    }
    @media screen and (max-width: 500px) {
        .circulo {
            width: 3.8em;
            margin-left: .8em;
        }
        .listado {
            font-size: .8em;
        }
    }
    @media screen and (max-width: 400px) {
        
        .listado {
            font-size: .7em;
        }
    }