
.titulo {
    font-weight: 600;
    font-size: 4em;
    margin-top: 2.5em;
    text-align: center;
}
.subtitulo {
    font-weight: 400;
    margin-top: -1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

.icono {
margin-right: -2.5em;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
    margin-bottom: 7em;
}
.buscador {
    font-size: 1em;
border: solid .5px #000000;
border-radius: 20px;
padding:.8% 10% .8% 3.5%;
background-color: transparent;
}
.buscar {
    background-color: #6896DB;
    color: white;
    border-radius: 20px;
    padding-right: 4%;
    padding-left: 4%;
   
}
.ingresar {
    background-color: #E1F6A9;
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    padding-right: 3.2%;
    padding-left: 3.2%;
}
.cardContainer {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-left: .45em;
    padding-left: 2.2rem;
}
.card {
    background-color: #F5F5F5;
    width: 12em;
    text-align: start;
    padding: 1.5em;
    font-weight: 500;
    line-height: .8em;
    border-radius: 12px;
}
.name {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 1.3em;
    
}
.name p {
    margin: 2%;
}
.verMas {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}
.verMasIcono {
   margin-left: 1em;
   height: 2em;
   
}
.pagination {
display: flex;
justify-content: center;
font-weight: 600;
cursor: pointer;
margin-top: 50px;
  }

.pagination button{
    margin: 5px;
}
.pagination button:hover{
    box-shadow: gray 2px 2px;
}