.contacto {
    background-image: url(../Img/contactoFondo.png) ; background-position: top ; background-size: cover;
    height: 100vh;
    padding-top: 5em;
}
.container{
    display: flex;
    justify-content: space-between;
    
}
.contactoLogo {
    margin-top: -2em;
    margin-left: 7em;
}
.derecha {
    margin-top: 7em;
    margin-right: 18em;
    text-align: right;
    color: white;
}